@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: hsl(27, 66%, 92%);
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
}
.flex{
    display: flex;
}
.container {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 30px;
}
.balance {
    border: 1px solid orange;
    border-radius: 15px;
    background-color: orange;
    color: #fff;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 25%;
}
.info{
    flex-direction: column;
}

.secondDiv {
    border: 1px solid white;
    border-radius: 15px;
    background-color: #fff;
    height: 100%;
    text-align: center;
    width: 28%;
}
.week{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.days{
    flex-direction: column-reverse;
}
.borders{
    border: 1px solid orange;
    background-color: orange;
    border-radius: 5px;
    width: 40px;
    transition: .3s ease all;
}
.borders:hover {
    background-color:hsl(186, 34%, 60%);
    border: 1px solid hsl(186, 34%, 60%);
}

.line {
    width: 84%;
}
.footer{
    align-items: center;
    justify-content: space-between;
    padding: 10px 28px;
}
.total {
    line-height: 20px;
}
.percentage {
    line-height: 10px;
}
